asgiref==3.9.2
attrs==25.4.0
autobahn==25.10.2
Automat==25.4.16
cffi==2.0.0
channels==4.3.1
channels-redis==4.3.0
click==8.3.0
colorama==0.4.6
constantly==23.10.4
cryptography==46.0.3
daphne==4.2.1
Django==5.2.6
django-extensions==4.1
djangorestframework==3.16.1
graphviz==0.21
gunicorn==23.0.0
h11==0.16.0
hyperlink==21.0.0
idna==3.11
incremental==24.7.2
iniconfig==2.3.0
msgpack==1.1.2
packaging==25.0
pluggy==1.6.0
psycopg2-binary==2.9.10
pyasn1==0.6.1
pyasn1_modules==0.4.2
pycparser==2.23
pydot==4.0.1
Pygments==2.19.2
pyOpenSSL==25.3.0
pytest==8.4.2
pytest-django==4.11.1
python-dotenv==1.1.1
redis==7.0.1
service-identity==24.2.0
sqlparse==0.5.3
Twisted==25.5.0
txaio==25.9.2
typing_extensions==4.15.0
tzdata==2025.2
uvicorn==0.37.0
zope.interface==8.0.1
